# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore .terraform directory
.terraform/

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
terraform.rc

# Ignore crash log files
crash.log

# Ignore .terraform.lock.hcl file
.terraform.lock.hcl

# Ignore provider directory
.terraform/providers/*

# Ignore Terraform CLI logs
.terraform/plugins/

# Ignore .tfvars files that are used to override default variables
*.auto.tfvars
*.auto.tfvars.json
